name: Deploy React App

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v4

      # Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      # Install dependencies
      - run: npm install

      # Build React app
      - run: npm run build

      # Copy index.html to 404.html to fix 404s
      - run: cp build/index.html build/404.html

      # Deploy to GitHub Pages 
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
